/*
68 74 74 70 3a 2f 2f 69 2e 69 6d 67 75 72 2e 63 6f 6d 2f 79 53 66 44 75 37 63 2e 6a 70 67
*/


/*CSS Stylesheet for Durhack */


/*import fonts*/

@import 'https://fonts.googleapis.com/css?family=Titillium+Web:200,600,700';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700';

/*CSS reset to give a good Cross Border baseline*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}


/* text styling */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web', sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}

h3 {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  line-height: 1.4;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: 800;
}


/*Begin main stylesheet*/

body {
  display: flex;
  flex-direction: column;
}

#main-menu {
  font-family: 'Titillium Web', sans-serif;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  transition: 1s background-color;
  /*background-color: rgba(0, 0, 0, 0.74);*/
}

#main-menu li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
  margin-left: 4px;
  transition: 0.5s height;
}

#main-menu li a {
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

#main-menu li img {
  display: inline;
  list-style-type: none;
  height: 40px;
  position: relative;
  top: 12px;
  margin-right: 5px;
}

#main-header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: flex;
  background: #f5f5f5 url('../images/bg1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-content-wrapper {
  margin: auto;
  width: auto;
  text-align: center;
}

i {
  font-style: italic;
}

.header-button-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo {
  height: 150px;
  display: block;
  margin: 5px auto;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s;
  /* Firefox < 16 */
  -ms-animation: fadein 1s;
  /* Internet Explorer */
  -o-animation: fadein 1s;
  /* Opera < 12.1 */
  animation: fadein 1s;
}

.logotext,
/*.header-info*/

, .header-button-wrapper {
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  -o-animation: fadein 3s;
  /* Opera < 12.1 */
  animation: fadein 3s;
}

.logotext {
  display: block;
  height: 65px;
  margin: 10px auto;
}

.header-info {

  font-size: 150%;
  font-weight: 1000;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px #8C26E0;
  padding: 10px 10px;
  height: 50px;
  display: block;
  margin: 5px auto;

  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s;
  /* Firefox < 16 */
  -ms-animation: fadein 1s;
  /* Internet Explorer */
  -o-animation: fadein 1s;
  /* Opera < 12.1 */
  animation: fadein 1s;
}

.header-button-wrapper button, input[type="submit"] {

  /*font: 0.8em 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 7000;
  padding: 10px 10px;

  opacity: 0.3;
  filter: alpha(opacity=30);

  background-color: #FFFFFF;

  border: 2px solid #FFFFFF;
  color: F0F8FF;
  margin-right: 10px;
  margin-left: 10px;*/


  font: 0.8em 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 15px;
	background-color: #684D6D;
	border: 2px solid #ffffff;
	color: #FFFFFF;
	margin-right: 10px;
	margin-left: 10px;
}

.header-button-wrapper button:hover, input[type="submit"]:hover {
  /*border: 2px solid #648fd8;
  color: #603c81;*/

	background-color: rgba(255, 255, 255, 0);
	border: 2px solid #684D6D;
	color: #ffffff;

}


/* section padding */

#about, #schedule, #faq, #team, #sponsors, #tickets {
  padding: 5em 4em;
}

#about {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#about .page-bg {
  background: #f5f5f5 url('../images/bg2.jpg') no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#about .content {
  display: flex;
}

#about .details, #about .side-image {
  flex: 1 1;
}

#about .content p {
  margin-bottom: 2em;
}

#about .side-image {
  display: flex;
}

#about .side-image img {
  margin: auto 0 auto auto;
  height: 450px;
  display: block;
}

#dataset {
  background-color: #603c81;
  color: #d0b9d8;
  z-index: -0;
  padding: 40px 20px;
  text-align: center;
}

#dataset .content {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

#dataset .content img {
  max-height: 50px;
  height: auto;
  width: 23%;
  padding: 1em;
  margin: 10px 5px 5px
}

#dataset h1 a {
  color: #FFF;
  text-decoration: none;
}

#dataset h1 a:hover {
  text-decoration: underline;
}

#map {
  height: 50vh;
}

#map iframe {
  pointer-events: none;
}

#gmap-canvas {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.map-pointer {
  /*background-color: #911d1d;*/
  text-align: center;
  font: 13px 'Source Sans Pro', sans-serif;
  line-height: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Cheeky map overlay hack */

.overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 50vh;
  top: 50vh;
  margin-top: -50vh;
  z-index: 5;
}

#schedule {
  background: #f5f5f5 url('../images/bg3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}

#schedule h2, #tickets h2 {
  text-align: center;
  margin-bottom: 0.5em;
}

#schedule .table-container, #tickets .table-container {
  margin: 0;
  padding: 0;
}

#schedule .table-block {
  margin: 10px auto;
  float: left;
  width: 45%;
  display: inline-block;
  height: 100%;
}

#signup-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  rgba(0, 0, 0, 0.6);
  transition: 0.5s;
  z-index: 99999999999999;
}

#signup-form {
  background-color: #9bb3e1;
  color: #ffffff;
  width: 420px;
  /* Blaze it */
  height: 395px;
  margin: auto;
  padding: 1em;
  box-sizing: border-box;
}

#signup-form input[type="text"], #signup-form input[type="email"] {
  float: right;
  box-sizing: border-box;
  height: 2.4em;
  border: none;
  padding: 10px;
  width: 250px;
  outline: none !important;
  transition: 0.25s;
}

#signup-form input[type="text"]:focus, #signup-form input[type="email"]:focus {
  opacity: 0.9;
}

.signup-close {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 32px;
  width: 32px;
}

.mc-field-group {
  height: 2em;
  line-height: 2em;
}

.indicates-required {
  float: left;
  margin-top: calc(1.5em + 8px);
}

#signup-form p {
  margin-bottom: 1em;
}

input#mc-embedded-subscribe {
  margin: 1.5em 0 0 0;
  display: block;
  height: auto;
  float: right;
}

@media screen and (max-width: 700px) {
  #schedule .table-block {
    width: 100%;
  }
}

#schedule h4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.3em;
  color: #f0dbf4;
  margin-bottom: 10px;
}

#schedule b {
  font-weight: 500;
}

#schedule table {
  width: 100%;
  line-height: 1.25em;
}

#schedule .table-block.left {
  float: left;
}

#schedule .table-block.right {
  float: right;
  padding-right: 10px;
}

@media screen and (max-width: 470px) {
  #schedule .table-block.left, #schedule .table-block.right {
    padding: 0;

  }
  #schedule td, th {
    padding: 150px 150px 150px 0 !important;
  }
}

#schedule th {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}

#schedule b {
  font-weight: bold;
  color: #dae6fa;
}

#schedule i {
  font-style: italic;
}

#schedule p {
  text-align: center;
  padding-bottom: 15px;
}

#schedule td, th {
  border: 1px none #dddddd;
  text-align: left;
  border-bottom-style: solid;
  border-bottom-color: #684d6d;
  padding: 15px;
}

#faq {
  background: #f5f5f5 url('../images/bg4.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}

#faq a {
  color: #2462cd;
  text-decoration: none;
}

#faq a:hover {
  color: #587dd7;
}

#faq h2 {
  /*margin: 0 !important;*/
  padding: 0 0 10px 5px !important;
}

#faq .content {
  -webkit-columns: 3 200px;
  -moz-columns: 3 200px;
  columns: 3 200px;
}

#faq h3 {
  font-size: 1.7em;
  margin-bottom: 10px;
}

#faq .question, #faq h2 {
  padding: .5em;
}

#faq .question {
  -webkit-column-break-inside: avoid;
  break-inside: avoid-column;
}

#faq .question.last-question {
  background-color: #3b283e;
  margin-top: 20px;
  color: #edd9f1;
  padding: 1em;
}

#faq .question.last-question h3 {
  margin-top: -2px;
}

#faq .question.last-question a {
  color: #b5caef;
}

#faq .question.last-question a:hover {
  color: #8ec4f6;
  text-decoration: underline;
}

#team {
  background: #f5f5f5 url('../images/bg5.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#team h2 {
  text-align: center;
}

#team .team-container .core {
  /*margin-right: auto;
	margin-left: auto;

	width: 150%;
	height: 150%;

	display: flex;
	align-items: center;
	justify-content: center; */
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  display: flex;
}

#team .member {
  width: 12%;
  display: inline-block;
  margin: 10px;
  text-align: center;
  flex: 1 1;
  color: rgba(255,255,255);
*display: center;
/*
	display: block;
    margin: auto;
    width: 40%;*/
  /*align-items: center;
	justify-content: center;*/
}

#team .member img {
  /* width: 100%;
	height: 100%;
	margin: auto;
	border-radius: 10%;
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: center;*/
  width: 100%;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}

#team .member .name {
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 5px;*/
  width: 200%;
  display: block;
  display: conter;
  color: #ffffff;

}

#team .member .description {
  font-weight: 1000;
}

#team .helpers {
  margin-top: 55px;
  margin-top: 55px;
  color: #ffffff
}

#tickets {
  background-color: #835f8b;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

#tickets a {
  color: lightblue;
  text-decoration: none;
}

#tickets a:hover {
  text-decoration: underline;
}

#tickets table {
  margin: 1em auto;
  width: 90%;
  text-align: left;
}

#tickets table tr th {
  font-weight: 800;
}

#tickets table tr td {
  padding: 0.75em;
}

#sponsors {
  background: #f5f5f5 url('../images/bg6.gif');
  color: #ffffff;
  z-index: -0;
}

#sponsors .content {
  /*background-color: #e9b1b1;*/
  z-index: 999;
}

#sponsors p {
  text-align: center;
  margin: 25px;
}

#sponsors img {
  padding: 1em;
  /*background-color: rgba(29, 34, 42, 0.63);*/
  height: 200px;
  margin: 10px 5px 5px;
  z-index: 999;
}

#sponsors .partners img {
  max-height: 200px;
  height: auto;
}

canvas.pg-canvas {
  background-color: /*#3f2743*/
  ;
  /*background-color: #171b24;*/
  position: absolute;
  z-index: -99;
  overflow: hidden;
  width: 90%;
  right: 0;
}

#sponsors img:hover {
  background-color: #2b3240;
}

#sponsors .partners img:hover {
  background-color: transparent;
}

.helpers, .partners, .cooler_helpers {
  margin-right: auto;
  margin-left: auto;
  text-align: center;

}

.partners {
  /*basic reset
  margin: 0;
   padding: 0;}

  adding a black bg to the body to make things clearer
  body {background: black;}
  canvas {display: block;} */

  idth: 96.8%;

  background-color: rgba(45, 53, 66, 0.63);
  text-align: center;
}

.partners:hover {
  background-color: #2b3240;
}

.partners a img:hover {
  background-color: rgba(255, 255, 255, 0);
}

.cooler_helpers img {
  background-color: rgba(40, 47, 58, 0.63);
  width: 28%;
}

.helpers a img {
  background-color: rgba(29, 34, 42, 0.63);
  width: 23%;
}

#sponsors h2 {
  text-align: center;
  margin-bottom: 40px;
}

#main-footer {
  text-align: center;
  padding: 40px;
  color: #dfe6ea;
  z-index: 1;
  background-color: rgba(22, 26, 36, 0.98);
}

#main-footer a, #sponsors a {
  color: #80c3ef;
  text-decoration: none;
}

#main-menu .mobile {
  display: none;
}


/* Media Queries
This are is responsible for the block of text in the middle
not to do with the surrounding backgound
*/

@media screen and (min-width: 1080px) {
  .content {
    width: 960px;
    margin-right: auto;
    margin-left: auto;


  }
}

@media screen and (max-width: 1000px) {
  #team .team-container .core {
    flex-wrap: wrap;
    justify-content: center;
  }
  #team .member {
    width: 100px;
    flex: auto;
    display: flex;
    flex-direction: column;


  }
  #team .member img {
    max-width: 100px;
  }
  #about .side-image img {
    height: 300px;
  }
  .cooler_helpers img {
    width: 24%;
  }
}

@media screen and (min-width:75px) {
  #about .content .details {
    color: #ffffff;
    float: left;
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  #main-header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #f5f5f5 url('../images/bg1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  /*	#about {
		flex-direction: column;
	}*/
  #sponsors {
    padding: 5em 0;
  }
  #sponsors .partners img {
    max-height: 125px;
  }
  #about, #faq, #team, #sponsors, #schedule {
    padding: 5em 1.5em;
  }
  #about .side-image {
    width: 100%;
    display: none;
    /* cat begone */
  }
}

@media screen and (max-width: 470px) {
  .partners {
    background-color: transparent;
    height: 200px;
    width: 100%;
    margin: 0 0 5px;
  }
  .partners:hover {
    background-color: transparent;
  }
  /* i'm going to hell for this hack */
  .partners .behave {
    height: 200px;
    width: 200px;
    background-color: rgba(45, 53, 66, 0.4);
    margin: 0 auto;
    display: flex;
    background-image: url('../images/sponsors/dcc.svg');
    background-position: center;
    background-size: 280px auto;
    background-repeat: no-repeat;
    padding: 0 15px;
  }
  .partners .behave:hover {
    background-color: #2b3240;
  }
  #sponsors .partners img {
    display: none;
    /* lol */
  }
  #sponsors img {
    padding: 1em;
    background-color: #1d222b;
    height: 200px;
    width: 200px;
    margin: 10px 5px 5px;
  }
  #main-menu {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 10px;
  }
  #main-menu li:not(.mobile) {
    margin-bottom: 0.3em;
    height: 0;
    opacity: 0;
  }
  #main-menu .mobile {
    display: block;
    margin-top: 7px;
  }
  #mlh-trust-badge {
    right: 10px !important;
  }
  #signup-form {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    padding-bottom: 10px;
  }
  #signup-form label {
    display: block;
  }
  #signup-form input[type="text"], #signup-form input[type="email"] {
    border-radius: 1px;
    float: none;
  }
  .mc-field-group {
    height: auto;
  }
  input#mc-embedded-subscribe, .indicates-required {
    float: none;
  }
}


/* Extras */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Internet Explorer */

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cat {
  position: absolute;
  transition: 10s;
}
